.gh-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  margin-bottom: 1rem;
}
input[type="text"] {
  padding: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 1rem;
  width: 50%;
}
button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button[type="submit"]:hover {
  background-color: #2E8B57;
}
#search-results {
  margin-top: 1rem;
}
#search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#search-results li {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#search-results li a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #0000EE;
  text-decoration: none;
}
#search-results li a:hover {
  text-decoration: underline;
}
#search-results li p {
  font-size: 1rem;
  margin: 0;
}
