.body{

}



.comment_container{
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}


.create_comment{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;

  .content-text{
    width: 480px;
    height: 200px;
  }

  input{
    background-color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    &:last-child{
      width: 100px;
      margin: 0 auto 0 auto;
    }
  }
}



